Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.7
WTForms==3.1.2
werkzeug==3.1.8
python-dotenv==1.0.1
email-validator==2.2.0
python-barcode==0.15.1
qrcode[pil]==7.4.2
Pillow==12.3.0
python-pptx==1.0.2
numpy==2.5.1
opencv-python
reportlab==4.2.0
zxing-cpp==3.1.1
SQLAlchemy==2.0.51
alembic==1.18.5